#exportPattern("^[^.]")
export(LoopThruSpectra,
	labelExtremes,
	plotSpectra,
	aovPCA,
	labelExtremes3d,
	q2rPCA,
	aovPCAloadings,
	makeEllipsoid,
	r2qPCA,
	aovPCAscores,
	mclust3D,
	removeFreq,
	avgFacLvls,
	mclust3dSpectra,
	removeSample,
	binBuck,
	mclustSpectra,
	robPCA,
	binData,
	normSpectra,
	rowDist,
	check4Gaps,
	normVec,
	sPlotSpectra,
	chkSpectra,
	pcaBoot,
	seX,
	classPCA,
	pcaDiag,
	seXy,
	colLeaf,
	plot2Loadings,
	seXy95,
	conColScheme,
	plotHCA,
	seXyIqr,
	coordProjCS,
	plotLoadings,
	seXyMad,
	plotScores,
	shrinkLeaf,
	groupNcolor,
	plotScores3D,
	specSurvey,
	hcaScores,
	plotScoresCor,
	splitSpectraGroups,
	hcaSpectra,
	plotScoresDecoration,
	sumGroups,
	hmapSpectra,
	sumSpectra,
	hypTestScores,
	plotScoresRGL,
	isWholeNo,
	plotScree,
	plotScree2,
	baselineSpec,
       calcSN,
       findTMS,
       files2SpectraObject,
       readBrukerTxt,
       readJDX)

import(pls, amap, chemometrics, robustbase, RColorBrewer, plyr, pcaPP, mvtnorm, mvoutlier, grid, rgl, R.utils, mclust, MASS, baseline, IDPmisc, gsubfn, lattice)

importFrom(seriation, hmap)