on:
  push:
    branches: [main, devel]
  pull_request:
    branches: [devel]

name: Build-Check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macOS-latest,   r: 'release'}
          - {os: windows-latest, r: 'release'}
#          - {os: ubuntu-latest,   r: 'devel', http-user-agent: 'release'} # bioconductor not ready
          - {os: ubuntu-latest,   r: 'release'}
          - {os: ubuntu-latest,   r: 'oldrel-1'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - name: Install Bioconductor dependencies
        run: |
          # need to install some pkgs from Bioconductor
          if (!requireNamespace("BiocManager", quietly = TRUE))
            install.packages("BiocManager")
          BiocManager::install("MassSpecWavelet")
          BiocManager::install("impute")
          BiocManager::install("mixOmics")
        shell: Rscript {0}

      - name: Install other dependencies
        run: |
          install.packages("remotes") # needed here!
          install.packages("roxygen2")
          install.packages("rcmdcheck") # apparently assumed by check-r-package below
          remotes::install_deps(dependencies = TRUE) # all others
        shell: Rscript {0}

      - name: Roxygenize
        run: |
          roxygen2::roxygenize()
        shell: Rscript {0}

      - name: Build and Check
        env:
          _R_CHECK_CRAN_INCOMING_REMOTE_: false

        uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
